## Python List
- Python List falls under the compound data types i.e. they are composed of one or more basic data types.
- It means, A List is a sequence collection of different objects such as integers, strings, and even other lists as well.
- Python Lists are represented with square brackets.
  - Example: `["item1", 2, "item3", 4.0]`
- Unlike array, List can store data of multiple data types like string, integer, float, etc.
- Python Lists are also an ordered sequences.
  - It means the items have a defined order, and that order will not change.
  - If you add new items to a list, the new items will be placed at the end of the list.

- Unlike Strings, Lists are mutable meaning, we can change, add, and remove items in a list after  it is created.

- Similar to Strings, we can perform loop through items in a list.

- In this lecture we'll cover:
  - Creating Lists
  - Indexing Lists
  - Slicing Lists
  - Lists are mutable
  - List methods
  - Join Lists
  - Loop Lists
  - List Comprehension
  - List exercise

### 1. Creating Lists
- To create a list, type the list items within square brackets **[]**, separated by commas.
- Example: ["item1", 2, 'item3', 4]

- List can be categorized into 2 types:
  1. simple list:
    - Example: [1, 2, 3, 4]
  2. Nested list: 
    - They list within list.
    - Also called as 2D list.
    - Example: [[1, 2], [3, 4]]

In [4]:
# create simple list with mixed data types
simple_list = [1, 'ram', 2.4]
simple_list

[1, 'ram', 2.4]

In [5]:
# display type 
simple_list

[1, 'ram', 2.4]

In [6]:
# display length of list
# Hint: len(list)
len(simple_list)

3

In [7]:
# create nested list
nested_list = [[1, 2, 3], ['ram', 3.5], ['BMW']]

In [8]:
# display type of nested list
nested_list

[[1, 2, 3], ['ram', 3.5], ['BMW']]

In [9]:
# display length of nested list
# Hint: len() 
len(nested_list)

3

**List creation from Strings**
- use .split() method

In [10]:
# Initialize any non-empty string
#
# split string to create list
non_empty_tring = 'hel lo hello'
non_empty_tring.split()

['hel', 'lo', 'hello']

###2. Indexing Lists
- Indexing works similar to that of Strings.
- As we know, list is a sequenced collection of different objects such as Strings, Integer, etc.
- The address of each element within a list is called an index.
- An index is used to access and refer to items within a list.

  <img src='https://drive.google.com/uc?id=1SB5gGtnvQp3Fx0gG9YruM4VgmAe-HDQc' width='400'>

**positive indexing**

In [11]:
# initialize simple list of length 5
lst = ['ram', 7, [1, 'janny'], 2.2, {1: 'joey'}]

In [12]:
# print 1st item using positive index
lst[0]

'ram'

In [13]:
# print 3rd item using positive index
lst[2]

[1, 'janny']

In [14]:
# print last item using positive index
lst[4]

{1: 'joey'}

`Now lets try to index nested list`

In [2]:
# initialize nested list of length 5
nested_list = [[1, 2], [1, 3, 5, 7], [3, 5, 4], [3,  5], [1, 8, 10]]

In [23]:
# practice indexing
# nested_list[0]
nested_list[0][1]

2

**negative indexing**

In [24]:
# reinitialize simple list of length 5
lst = [1, 2, 3, 4, 5]

In [25]:
# print 1st item using negative index
lst[-5]

1

In [26]:
# print 3rd item using negative index
lst[-3]

3

In [27]:
# print last item using negative index
lst[-1]

5

### 3. Slicing Lists
- Slicing Lists means extracting part of list items.
- Concepts of Slicing Lists is similar to Slicing Strings.
- `Syntax: list[start:end:step]`

  <img src='https://drive.google.com/uc?id=1j7BjHU8MmE0LFv1Qls9F-4h3NheDoLAD' width='500'>

**case 1: when step is positive**

In [28]:
# initialize simple list (refer to above example)
lst = [5, 4, 3, 22.2, 5]

In [29]:
# slice first 3 items using positive index
lst[:3]

[5, 4, 3]

In [30]:
# slice last 3 items using negative index
lst[2:]

[3, 22.2, 5]

In [31]:
# get list item at even index
# e.g. ['S', 'r', 'n', ' ', 'n', 'e', i]
lst[:5:2]

[5, 3, 5]

**case 2: when step is negative**

In [32]:
# slice first 3 list items using positive index
lst[:3]

[5, 4, 3]

In [33]:
# slice last 3 list items using negative index
lst[-3:]

[3, 22.2, 5]

In [34]:
# reverse list
# output: ['n', 'i', 'x', 'e', 'd', 'n', 'I', ' ', 'g', 'n', 'i', 'r', 't', 'S']
lst[::-1]

[5, 22.2, 3, 4, 5]

['n', 'i', 'x', 'e', 'd', 'n', 'I', ' ', 'g', 'n', 'i', 'r', 't', 'S']

###4. Lists are mutable
- Unlike Strings, Lists are mutable
- It means we can change list items after its creation.

In [35]:
# verify lists are mutable
mutable_list = ['hi', 'i', 'am', 'mutable']
print(mutable_list)

['hi', 'i', 'am', 'mutable']

In [37]:
# change first item 'hi' to 'hello'
mutable_list[0] = 'hello'
mutable_list

['hello', 'i', 'am', 'mutable']

Assigning new value, we didn't got error. We can say Lists are mutable.

###5. List Methods
- Most common Lists methods are:
  - `append()`: Methods to add an item to the end of the list.
  - `insert()`: Methods to add an item to list at a specified index.
  - `extend()`: Methods to append elements from another list to the current list
  - `remove()`: Methods to remove the specified item using item name.
  - `pop()`: Methods to remove the list item using index. By Default pop takes up the last index.
  - `reverse()`: Methods to reverse list.
  - `sort()`: Methods to sort the string either in ascending order or descending order.

In [38]:
# Create a new list

list1 = [1, 2, 3, 4]

In [40]:
# add new item to the end of a list
# Hint: list.append(<item>)
list1.append(5)
list1

[1, 2, 3, 4, 5, 5]

In [42]:
# add new item at index 1 using insert()
# Hint: list1.insert(<index>, <item_to_insert>)
list1.insert(0, 6)

`If we run insert() methods multiple times, then item will be added at specified index and length of list will grow accordingly.`

In [44]:
# Given two list i.e. list1 and list2
# extend list1 with item from list 2
# Hint: list1.extend(list2)
lst.extend(list1)
lst

[5, 4, 3, 22.2, 5, 6, 1, 2, 3, 4, 5, 5, 6, 1, 2, 3, 4, 5, 5]

In [45]:
# remove specific item from list
# Hint: list.remove(<item_name>)
lst.remove(5)

In [46]:
# remove item at index 1 of list
# Hint: list1.pop(<index>)
lst.pop(3)

5

In [47]:
# remove last item from list
# Hint: list1.pop()
lst.pop()

5

In [48]:
# reverse list
# Hint: list.reverse()
lst.reverse()

In [49]:
# sort list in ascending order
# hint: list.sort()
lst.sort()

In [50]:
# sort list in descending order
# hint: list.sort(reverse=True)
lst.sort(reverse=True)

### 6. Join Lists
- Given list, how can we join the list items?
- Technique to convert list to string.
- `Example:`
  - input_list = ['hello', 'world']
  - ouput_list = "hello world"

- **syntax:** `result = separator.join(<list>)

  where, separator is the string that will be used to separate the elements in the resulting string.

In [53]:
# create new list
new_list = ['Hello', 'Jack', 'How', 'are', 'you']

In [54]:
# join list by space to form new string
# Hint: " ".join(<list>)
" ".join(new_list)

'Hello Jack How are you'

### 7. Loop Lists

- Similar to Strings, you can also loop through list items using a **for** loop.

`Q. Initialize List and print list items one by one using for loop.`

In [57]:
# create list
# loop through list items
for i in new_list:
    print(i)

Hello
Jack
How
are
you

In [58]:
# loop through list items using enumerate()
print(list(enumerate(new_list)))

[(0, 'Hello'), (1, 'Jack'), (2, 'How'), (3, 'are'), (4, 'you')]

We will experiment other ways of looping using **range()** function and **while** loop in Loop Chapter.

### 8. List Comprehension
- List comprehension offers the shortest syntax for looping through lists.
- Syntax: **newlist = [expression for item in iterable if condition == True]**


`Q.1 Write a python program to lowercase item in given list using list comprehension.`
  - Input: sample_list = ["APPLE", "Mango", "BaNaNa", "GRapes"]
  - Output: lower_list = ["apple", "mango", "banana", "grapes"]

`Q.2 Given list of fruits i.e. fruit_list = ['apple', 'mango', 'banana', 'grapes', 'coffee'], Create new list named fruit_list removing item which is not fruit. Example = coffee.`

`Q.3 `

In [63]:
## write your program (for Q1)
upper_list = ['AppLe', 'BaNNana', 'MANGO']
lower_list = [i.lower() for i in upper_list]
lower_list

['apple', 'bannana', 'mango']

In [66]:
## write your program (for Q2)
fruit_list = ['banana', 'apple', 'mango', 'hen']
output = [i for i in fruit_list if i != 'hen']
output

['banana', 'apple', 'mango']

**Q.1 Write a python program that initializes non empty list of words with length = 5. Display longest word with its length.**

  `sample_list: ['mango', 'banana', 'kiwi', 'apple', 'grapes']`  
  `output: banana, 6`  

**Q.2 Write a python program to sum all the items in a list.**

  `sample_list: [1, 2, 3, 4, 5]`
  `output: sum = 15`


**Q.3 Write a python program to get the largest number from a list.**

  `sample_list: [10, 20, 30, 100, 40]`  
  `output: largest number = 100`


**Q.4 Write a python program to get the smallest number from a list.**

  `sample_list: [-1, 0, 1, 2]`
  `output: smallest number = -1`

**Q.5 Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings.**

  `Input: sample_list = ['abc', 'xyz', 'aba', '1221']`  
  `output: str_count = 2`

**Q.6 Write a python program to check a list is empty or not.**

**Q.7 Write a python program to insert a given string at the beginning of all items in a list.**

  `sample_list = [1, 2, 3, 4]`  
  `str_to_inser = "emp"`  
  `output_list = ['emp1', 'emp2', 'emp3', 'emp4']`

### 9. List exercise

In [19]:
# **Q.1 Write a python program that initializes non empty list of words with length = 5. Display longest word with its length.**

#   `sample_list: ['mango', 'banana', 'kiwi', 'apple', 'grapes']`  
#   `output: banana, 6`

my_list = ['tuple', 'list', 'dictionary', 'lambda', 'pandas']
long_word = ''

for i in my_list:
    if len(i)>len(long_word):
        long_word = i
    # else:
    #     long_word = long_word
print(long_word)

dictionary

In [20]:
# **Q.2 Write a python program to sum all the items in a list.**

#   `sample_list: [1, 2, 3, 4, 5]`
#   `output: sum = 15

def listSum(numbers):
    sum = 0
    for num in numbers:
        sum += num
    return sum

number = [5, 4, 9, 7, 2]
print(listSum(number))

27

In [25]:
# **Q.3 Write a python program to get the largest number from a list.**

#   `sample_list: [10, 20, 30, 100, 40]`  
#   `output: largest number = 100`

sample_list = [10, 20, 30, 100, 40]

large_num = 1
for i in sample_list:
    if i > large_num:
        large_num = i
print(large_num)

100

In [8]:
# **Q.4 Write a python program to get the smallest number from a list.**

#   `sample_list: [-1, 0, 1, 2]`
#   `output: smallest number = -1`

sample_list =  [140, 10, 20, 30, 0,]
# small_num = 1
for num in sample_list:
    if num < sample_list[0]:
        sample_list[0] = num
        
print(sample_list[0])

0

In [15]:
# **Q.5 Write a Python program to count the number of strings where the string length is 2 or more and the first
# and last character are same from a given list of strings.**

#   `Input: sample_list = ['abc', 'xyz', 'aba', '1221']`  
#   `output: str_count = 2`

sample_list = ['abc', 'xyz', 'aba', '1221', '111', 'mom', 'daddy']


result = len([word for word in sample_list if len(word) >= 2 and word[-1] == word[0]])
result

4

In [7]:
# Q.6 Write a python program to check a list is empty or not.

myList = [1, 2, 3]

if(len(myList) == 0):
    print('empty')
    
else:
    print('Not empty')

Not empty