## Tuple
- A Tuple is a collection/sequence that are used to store multiple items (data types) in a single variable. 
- Like Lists, Tuple can be either simple tuple or nested tuple.
- Unlike Lists, Tuples are immutable i.e. it cannot be changed once it's created. 
- Tuples are heterogeneous i.e. it can store items of different basic data types.
- Tuples are written with round brackets.
  - **examples:**
    - (1, 'simple', 'tuple')
    - ((1, 2), 'nested', tuple)

- In this lecture we'll cover:
  - Creating Tuples
  - Indexing Tuples
  - Slicing Lists
  - Tuples are immutable
  - Tuples methods
  - Join Tuples
  - Unpack Tuples (*)
  - Loop Tuples
  - Add/Multiply Tuples
  - Tuples exercise

_`Tuples are ordered, unchangeable, and allow duplicate values.`_

### 1. Creating Tuples

- To create a tuple, type the tuple items within parenthesis **()**, separated by commas.
- Example: ("item1", 2, 'item3', 4)

- Tuples can be categorized into 2 types:
  1. simple tuple:
    - Example: (1, 2, 3, 4)
  2. Nested tuple: 
    - They tuple within tuple.
    - Also called as 2D tuple.
    - Example: ((1, 2), (3, 4))

In [1]:
# create empty tuple
simple_tuple = ("item1", 2, 'item3', 4)
print(simple_tuple)

('item1', 2, 'item3', 4)

In [2]:
# display type 
print(type(simple_tuple))

<class 'tuple'>

In [3]:
# display length of tuple
# Hint: len(tuple)
tuple_len = len(simple_tuple)
print(tuple_len)

4

In [4]:
# create nested tuple
nested_tuple = (("item1", 2), ("item2", 3), (4, 5))
print(nested_tuple)

(('item1', 2), ('item2', 3), (4, 5))

In [5]:
# display type of nested tuple
print(type(nested_tuple))

<class 'tuple'>

In [6]:
# display length of nested tuple
# Hint: len() 
tuple_len = len(nested_tuple)
print(tuple_len)

3

**Tuples creation from Strings**  

.split()  
typecast

In [1]:
# write your code here
sample_str = "Create Tuple from String"

# split string (separator = whitespace)
list_from_str = sample_str.split(" ")

# typecast list to tuple
tuple_from_list = tuple(list_from_str)

print(tuple_from_list)

('Create', 'Tuple', 'from', 'String')

###2. Indexing Tuples
- Indexing works similar to that of Lists.
- As we know, tuple is a sequenced collection of different objects such as Strings, Integer, etc.
- The address of each element within a tuple is called an index.
- An index is used to access and refer to items within a tuple.

  <img src='https://drive.google.com/uc?id=1SB5gGtnvQp3Fx0gG9YruM4VgmAe-HDQc' width='450'>

**positive indexing**

In [8]:
# initialize simple tuple of length 5
tuple_indexing = (0, 1, 2, 3, 4)
print(tuple_indexing)

(0, 1, 2, 3, 4)

In [9]:
# print 1st item using positive index
tuple_indexing[0]

0

In [10]:
# print last item using positive index
tuple_indexing[4]

4

Also Indexing 2D Tuples is similar to that of list. Experiment on your own.

**negative indexing**

In [11]:
# print 1st item using negative index
tuple_indexing[-len(tuple_indexing)]

0

In [12]:
# print last item using negative index
tuple_indexing[-1]

4

### 3. Slicing Tuples
- Slicing Tuples means extracting part of list items.
- Concepts of Slicing Tuples is similar to Slicing Lists.
- `Syntax: tuple[start:end:step]`

**case 1: when step is positive**

In [13]:
# initialize simple Tuples
simple_tuple = ("item1", 2, 'item3', 4)

print(simple_tuple)

('item1', 2, 'item3', 4)

In [14]:
# slice first 3 items using positive index

simple_tuple[:3]

('item1', 2, 'item3')

In [15]:
# slice last 3 items using negative index

simple_tuple[-3:]

(2, 'item3', 4)

In [16]:
# get tuple items at even index

simple_tuple[::2]

('item1', 'item3')

**case 2: when step is negative**

In [17]:
# slice first 3 tuple items using positive index

simple_tuple[2::-1]

('item3', 2, 'item1')

In [18]:
# slice last 3 tuple items using negative index

simple_tuple[-1:-4:-1]

(4, 'item3', 2)

In [19]:
# reverse tuple

simple_tuple[::-1]

(4, 'item3', 2, 'item1')

###4. Tuple are immutable
- Unlike Lists, Tuoles are mutable
- It means we can't change tuple items after its creation.

In [20]:
# verify tuples are immutable

simple_tuple = ("item1", 2, 'item3', 4)

simple_tuple[0] = "item0"

TypeError: 'tuple' object does not support item assignment

`Since item assignment is not possible, We can say Tuples are immutable.`

### 5. Tuples Methods
- `count():` returns number of times a specified value occures in a tuple
- `index():` returns index of specified value in tuple

In [21]:
# initialize tuple 
tuple_method = (1, 2, 2, 2, 3, 4, 2, 5, 6, 7)

In [22]:
# count number of occurence of item "2"
# Hint: tuple.count(<item>)

print(tuple_method.count(2))

4

In [23]:
# get index of first item "4"
# tuple.index(<item>)

tuple_method.index(4)

5

**How to add item in Tuple?**
- Tuples are immutable.
- They do not have `append()` methods like list. 
- Is there any way to add items to Tuple, once it is created?


`Approach 1:`
- Input Tuple
- Typecast Tuple to List
- Append item to List
- Typecast List back to Tuple

In [24]:
# Write your program here for approach 2

simple_tuple = ("item1", 2, 'item3', 4)

# typecast to list
list_from_tuple = list(simple_tuple)

# append item to list
list_from_tuple.append("item5")

# typecast back to Tuple
simple_tuple = tuple(list_from_tuple)

print(simple_tuple)

('item1', 2, 'item3', 4, 'item5')

`Approach 2:`
- Input Tuple.
- Create Tuple with value to be added to main Tuple
- Concatenate Tuple using + operator.

_**Addition of Tuples to Tuples are allowed**_

In [25]:
# write your program for approach 2
simple_tuple = ("item1", 2, 'item3', 4)

# define tuple to add 
add_tuple = ("item5",)

simple_tuple = simple_tuple+add_tuple

print(simple_tuple)

('item1', 2, 'item3', 4, 'item5')

### Unpack Tuples
- Tuples creation process discussed till now, also means "packing" a tuple.
  - Example: sample_tuple = ('python', 'is', 'awesome')

- Unpacking Tuples means extracting values back into variables.
  - Example: `first_item, secon_item, third_item = sample_tuple`

In [26]:
# create tuples of length 4
# unpack tuples items to 4 other variables

a, b, c, d = simple_tuple = ("item1", 2, 'item3', 4)

print(a)
print(b)
print(c)
print(d)

item1
2
item3
4

`Unpack Tuples using Asterik *`
- Useful, if number of variables is less than the number of items in tuples

In [27]:
# Unpack Tuples values using 3 variables
# Hint: a, *b, c

a, *b, c = simple_tuple

print(a)
print(b)
print(c)

item1
[2, 'item3']
4

### 9. Loop Tuples
- Similar to List, you can loop through Tuples items using a `for` loop.

`Q. Initialize Tuples and loop through Tuples items one by one.`

In [28]:
# write your program here
simple_tuple = ("item1", 2, 'item3', 4)

for item in simple_tuple:
    print(item)
    print('---------------')

item1
---------------
2
---------------
item3
---------------
4
---------------

`Q. Use enumerate() function to loop through Tupes to get index and values.`

In [29]:
# write your program here
simple_tuple = ("item1", 2, 'item3', 4)

for idx, item in enumerate(simple_tuple):
    print(idx, item)
    print('--------------------')

0 item1
--------------------
1 2
--------------------
2 item3
--------------------
3 4
--------------------

**Like List, is there a Tuple comprehension?**  
`There is no Tuple comprehension like List. But we can use tuple() function to accomplish Tuple Comprehension`


`Q.1 Write a python program to lowercase item in given Tuples using Tuple comprehension.`
  - Input: sample_tuple = ("APPLE", "Mango", "BaNaNa", "GRapes")
  - Output: lower_tuple = ("apple", "mango", "banana", "grapes")

In [30]:
# write your program here
sample_tuple = ("APPLE", "Mango", "BaNaNa", "GRapes")

lower_tuple = tuple(item.lower() for item in sample_tuple)

print(lower_tuple)

('apple', 'mango', 'banana', 'grapes')