#### Question 1

<li>Read 'Fortune_1000.csv' file using pandas read_csv() method and store it in a variable named f1000.</li>
<li>Select the rank, revenues, and rank_change columns in f1000. Then, use the df.head() method to select first five rows.</li>
<li>Select just the fifth row of the f1000 dataframe. Assign the result to fifth_row using iloc.</li>
<li>Select the value in first row of the company column. Assign the result to company_value.</li>
<li>Select the last three rows of the f1000 dataframe. Assign the result to last_three_rows.</li>
<li>Select the first to seventh rows and the first five columns of the f1000 dataframe.</li>

In [1]:
# import libraries

import pandas as pd
import numpy as np

In [2]:
# selecting rank, revenue, rank_change column
f1000 = pd.read_csv('Fortune_1000.csv')
f1000 = f1000.loc[:, ['rank', 'revenue', 'rank_change']]
f1000.head()

   rank   revenue  rank_change
0     1  572754.0          0.0
1     2  469822.0          0.0
2     3  365817.0          0.0
3     4  292111.0          0.0
4     5  287597.0          0.0

In [3]:
f1000_ = pd.read_csv('Fortune_1000.csv')
f1000_.head()

,company,rank,rank_change,revenue,profit,num. of employees,sector,city,state,newcomer,ceo_founder,ceo_woman,profitable,prev_rank,CEO,Website,Ticker,Market Cap
0,Walmart,1,0.0,572754.0,13673.0,2300000.0,Retailing,Bentonville,AR,no,no,no,yes,1.0,C. Douglas McMillon,https://www.stock.walmart.com,WMT,352037
1,Amazon,2,0.0,469822.0,33364.0,1608000.0,Retailing,Seattle,WA,no,no,no,yes,2.0,Andrew R. Jassy,www.amazon.com,AMZN,1202717
2,Apple,3,0.0,365817.0,94680.0,154000.0,Technology,Cupertino,CA,no,no,no,yes,3.0,Timothy D. Cook,www.apple.com,AAPL,2443962
3,CVS Health,4,0.0,292111.0,7910.0,258000.0,Health Care,Woonsocket,RI,no,no,yes,yes,4.0,Karen Lynch,https://www.cvshealth.com,CVS,125204
4,UnitedHealth Group,5,0.0,287597.0,17285.0,350000.0,Health Care,Minnetonka,MN,no,no,no,yes,5.0,Andrew P. Witty,www.unitedhealthgroup.com,UNH,500468

In [4]:
# select just fifth row
fifth_row = f1000.iloc[4]
print(fifth_row)

rank                5.0
revenue        287597.0
rank_change         0.0
Name: 4, dtype: float64

In [5]:
# select the first row of the company column
company_value = f1000_.loc[0, ['company']]
print(company_value)

company    Walmart
Name: 0, dtype: object

In [6]:
# last three row
last_three_row = f1000.iloc[-3:]
print(last_three_row)

     rank  revenue  rank_change
997   998   2112.8          0.0
998   999   2111.0          0.0
999  1000   2107.2          0.0

In [7]:
# select first to seventh rows and first five column

first_7_row_first_5_column = f1000_.iloc[0:7, 0:5]
print(first_7_row_first_5_column)

              company  rank  rank_change   revenue   profit
0             Walmart     1          0.0  572754.0  13673.0
1              Amazon     2          0.0  469822.0  33364.0
2               Apple     3          0.0  365817.0  94680.0
3          CVS Health     4          0.0  292111.0   7910.0
4  UnitedHealth Group     5          0.0  287597.0  17285.0
5         Exxon Mobil     6          4.0  285640.0  23040.0
6  Berkshire Hathaway     7         -1.0  276094.0  89795.0

#### Question 2
<li>Use the Series.isnull() method to select all rows from f1000 that have a null value for the prev_rank column.</li>
<li>Select only the company, rank, and previous_rank columns where previous_rank column is null.</li>
<li>Use the Series.notnull() method to select all rows from f1000 that have a non-null value for the previous_rank column.</li></b>
<li>From the previously_ranked dataframe, subtract the rank column from the previous_rank column.</li>
<li>Assign the values in the rank_change to a new column in the f1000 dataframe, "rank_change".</li>

In [8]:
# select all rows that has null value in  prev_rank column

df = f1000_.loc[:, 'prev_rank']
prev_rank_col = pd.Series.isnull(df)

print(prev_rank_col)
true_indices = prev_rank_col[prev_rank_col].index

print(f'Length of true value: {len(true_indices)}')

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: prev_rank, Length: 1000, dtype: bool
Length of true value: 0

In [9]:
# select only the company, rank and previous rank column where previous rank is null

previous_rank = f1000_.loc[:, ['company', 'rank', 'prev_rank']]
# previous_rank

prev_null = previous_rank['company'].isnull() | previous_rank['rank'].isnull() |previous_rank['prev_rank'].isnull() 
# result = previous_rank.loc[:,   previous_rank]
result_df = previous_rank[prev_null]
print(result_df)

Empty DataFrame
Columns: [company, rank, prev_rank]
Index: []

In [10]:

f1000_ = f1000_['prev_rank']
selected_rows = f1000_[f1000_.notnull()]
selected_rows

0      1.0
1      2.0
2      3.0
3      4.0
4      5.0
      ...
995
996
997
998
999
Name: prev_rank, Length: 1000, dtype: object

In [11]:
f1000_['prev_rank'] = pd.to_numeric(f1000_['prev_rank'])

f1000_['rank_change'] = f1000_['prev_rank'] - f1000_['rank']

f1000_ = f1000_.loc[:, ['rank_change', 'rank', 'prev_rank']]

KeyError: 'prev_rank'

#### Question 3
<li>Select all companies with revenues over 100 thousands and negative profits from the f1000 dataframe.</li>

##### Instructions

<li>Create a boolean array that selects the companies with revenues greater than 100 thousands.</li>
<li>Create a boolean array that selects the companies with profits less than 0.</li>

In [ ]:
revenue_greater_100 = f1000_['revenue'][(f1000_['revenue'] > 100)]
print(revenue_greater_100)

0      572754.0
1      469822.0
2      365817.0
3      292111.0
4      287597.0
         ...
995      2124.0
996      2122.2
997      2112.8
998      2111.0
999      2107.2
Name: revenue, Length: 1000, dtype: float64

#### Question 4
<li>Select all rows for companies whose city value is either Brazil or Venezuela.</li>
<li>Select the first five companies in the Technology sector for which the city is not the "Boston" from the f1000 dataframe.</li>

In [ ]:
# selecting 2 city

city = f1000_['company'][(f1000_['city']=='Brazil') | (f1000_['city']=='Venezuela')]
city