In [1]:
import pandas as pd
import numpy as np

In [2]:
data = [10, 20,30,40]
series_list = pd.Series(data)
print(series_list)
print(type(series_list))

0    10
1    20
2    30
3    40
dtype: int64
<class 'pandas.core.series.Series'>

In [3]:
dict1 = {
    "a": 1,
    'b': 2,
    "c": 3,
    'd': 4
}
series_dict = pd.Series(dict1)
series_dict

a    1
b    2
c    3
d    4
dtype: int64

In [4]:
print(type(series_dict))

<class 'pandas.core.series.Series'>

In [5]:
num_arr = np.array(data)
ser = pd.Series(num_arr)
print(ser)

0    10
1    20
2    30
3    40
dtype: int32

In [6]:
ser.shape

(4,)

In [7]:
dim_2d_list = [[11,22], [55,66]]

In [8]:
data = pd.DataFrame(dim_2d_list, columns= ['col1', 'col2'])
print(data)

   col1  col2
0    11    22
1    55    66

In [9]:
dict_list = {'number': [1,2,3,4],
             'name': ['jag', 'mag', 'racl', 'pack'],
             "age": [5, 10, 15, 20]}

df = pd.DataFrame(dict_list) 
print(df)

   number  name  age
0       1   jag    5
1       2   mag   10
2       3  racl   15
3       4  pack   20

In [10]:
list_dict = [{'name': 'Jagannath', 'age': 12, 'adderss': 'Thali'}, {'name': 'Khadka', 'age': 20, 'adderss': 'Sankhu'}]
list_dict_df = pd.DataFrame(list_dict)
list_dict_df

        name  age adderss
0  Jagannath   12   Thali
1     Khadka   20  Sankhu

In [11]:
# Data injection
data_path = './car_details.csv'
data_frame = pd.read_csv(data_path)
data_frame.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [13]:
! pip install openpyxl

Collecting openpyxl
  Obtaining dependency information for openpyxl from https://files.pythonhosted.org/packages/6a/94/a59521de836ef0da54aaf50da6c4da8fb4072fb3053fa71f052fd9399e7a/openpyxl-3.1.2-py2.py3-none-any.whl.metadata
  Using cached openpyxl-3.1.2-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Obtaining dependency information for et-xmlfile from https://files.pythonhosted.org/packages/96/c2/3dd434b0108730014f1b96fd286040dc3bcb70066346f7e01ec2ac95865f/et_xmlfile-1.1.0-py3-none-any.whl.metadata
  Using cached et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Using cached openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
Using cached et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [14]:
import openpyxl
data_frame.to_excel('new_car_details.xlsx', sheet_name='Testing', index=False)